.container {
position: relative;
background-color: rgb(255, 255, 255);
height: 100vh ;
display: flex;
}
.cima {
    height: 50vh;
    width: 100vw;


}

 
   header {
    position: fixed; 
    top: 0;          
    left: 0;           
    width: 100vw;     
    height: 100px;     
    padding: 40px;
    background-color: rgb(221, 0, 0);
    z-index: 1000;     
}



.final {
    height:1000px;
    
}
.final button{
    position: fixed;
height: 50px;
width: 60px;
border-radius: 30px; 
right: 4%;
bottom: 3%;
z-index: 10;}
 

#logos {
  display: flex;
  justify-content: flex-end;

}

#logos img {
    position: sticky;
    top: 2%;
 z-index: 1000000;
 height: 100px;
 width: 100px;

}

